/holypkg
/holy-init
/holyinstall
/holygetiso
/src/*.o
/tests/solver
/tests/install-helper
/tests/__pycache__/
/.build-config
/.build-config.tmp
/out/
/tests/resolution

/backends/*.o

/tests/pacman-helper
/tests/deb-version-helper
/tests/apk-version-helper
/tests/native-version-helper
