CONFIG_STATIC=y
CONFIG_LFS=y
CONFIG_BUSYBOX=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_EXEC_PATH="/usr/bin/busybox"
CONFIG_ASH=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_SH_IS_ASH=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_FALSE=y
CONFIG_HEAD=y
CONFIG_ID=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MV=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_READLINK=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TEST=y
CONFIG_TOUCH=y
CONFIG_TRUE=y
CONFIG_UNAME=y
CONFIG_WC=y
CONFIG_CHROOT=y
CONFIG_FIND=y
CONFIG_GREP=y
CONFIG_SED=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_SWITCH_ROOT=y
CONFIG_IP=y
CONFIG_IPADDR=y
CONFIG_IPLINK=y
CONFIG_IPROUTE=y
CONFIG_UDHCPC=y
CONFIG_NSLOOKUP=y
